/* ////////////////////// */
/*        LAYOUT          */
/* ////////////////////// */
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.row {
  margin: 0 -9px;
  font-size: 0;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 18px;
  font-size: 15px;
}
.row [class^=col-]:first-child {
  padding-left: 0;
}
.row [class^=col-]:last-child {
  padding-right: 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
/***************************
********Scafolding**********
***************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.header {
  padding-top: 20px;
}
.header__top {
  margin-bottom: 20px;
}
.header .logo {
  float: left;
}
.header .logo__img {
  margin-right: 25px;
}
.header .logo__title {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  width: 30%;
}
.header .contacts {
  float: right;
  text-align: right;
}
.header .contacts__link {
  padding-top: 40px;
  width: 30%;
  display: inline-block;
  text-align: center;
  position: relative;
}
.header .contacts__link:after {
  background: url(../img/header/msg.png) 0% 0px no-repeat;
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  left: 25%;
}
.header .contacts__link--msg {
  margin-right: 10px;
}
.header__nav-item {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.header__nav-item a {
  padding: 5px 13px;
  font-size: 18px;
}
.header__nav-item:first-child a {
  padding-left: 0;
}
.header__nav-item:last-child a {
  padding-right: 0;
}
.tizer {
  background-image: url(../img/tizer/background_tizer.jpg);
  background-size: cover;
  min-height: 300px;
  color: #fff;
}
