/* ////////////////////// */
/*        LAYOUT          */
/* ////////////////////// */
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 960px;
}
.line {
  margin: 0 -35px;
  font-size: 0;
}
.line [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
  font-size: 14px;
}
.row {
  font-size: 0;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
  font-size: 14px;
}
.row [class^=col-]:first-child {
  padding-left: 0;
}
.row [class^=col-]:last-child {
  padding-right: 0;
}
.row [class^=collist-] {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
.row .collist-marker {
  width: 15%;
}
.row .collist-txt {
  width: 85%;
}
.row [class^=collist-]:first-child {
  padding-left: 0;
}
.row [class^=collist-]:last-child {
  padding-right: 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
@font-face {
  font-family: "Appetite";
  src: url("../fonts/appetite.otf");
}
/***************************
********Scafolding**********
***************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1 {
  margin: 0;
}
p {
  color: #6b6b6b;
}
.section-title {
  color: #04a4e7;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Appetite";
}
.section-title--white {
  color: #fff;
}
.recomendation {
  color: #fc5b5b;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
}
.recomendation:hover {
  text-decoration: none;
}
.map {
  width: 100%;
  height: 510px;
  overflow: hidden;
}
.flip-container {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  min-height: 400px;
  margin-bottom: 50px;
}
.flip-container:hover {
  transform: rotateY(180deg);
}
.flip-container__front,
.flip-container__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.flip-container__front {
  z-index: 2;
}
.flip-container__back {
  background-color: #fff;
  transform: rotateY(180deg);
  border: 5px solid #04a4e7;
  min-height: 400px;
}
.flip-container__back p {
  text-align: center;
  font-family: "Appetite";
  color: #04a4e7;
  font-size: 24px;
  text-transform: uppercase;
  padding: 100px 60px;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.btn-info {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  border: 2px solid #fff;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 75px;
  color: #fff;
  font-family: "Appetite";
}
.btn-info:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn-more-info {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 30px;
  background-color: #fff ;
  outline: none;
  text-transform: uppercase;
  color: #04a4e7;
  font-size: 16px;
  font-family: "Appetite";
}
.btn-more-info:hover {
  color: #fc5b5b;
}
.btn-respond {
  font-family: "Appetite";
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
  background-color: #04a4e7;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.btn-respond:hover {
  background-color: #fc5b5b;
}
.search-form-w {
  position: relative;
}
.search-form {
  position: relative;
  left: 45px;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #fc5b5b;
}
.search-form__input {
  color: #fff;
  background-color: #fc5b5b;
  height: 50px;
  border: 0px solid #d6d6d6;
  background-repeat: no-repeat;
  font-size: 20px;
  position: absolute;
  right: 100px;
  outline: none;
}
.search-form__submit {
  position: absolute;
  color: #fff;
  height: 40px;
  width: 40px;
  border: 0px solid #d6d6d6;
  background-color: transparent;
  background: url(../img/header/search_icon.png) 0 50% no-repeat;
  font-size: 23px;
  right: 50px;
  border-right: 1px solid #fff;
  outline: none;
}
.header {
  padding: 20px 0;
}
.header__top {
  margin-bottom: 20px;
}
.header .logo {
  float: left;
  width: 30%;
}
.header .logo__img {
  margin-right: 25px;
}
.header .logo__title {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 24px;
  color: #6b6b6b;
  font-weight: normal;
  width: 40%;
}
.header .contacts {
  float: right;
  text-align: right;
  width: 70%;
}
.header .contacts__link {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  font-size: 10px;
  padding-top: 10px;
  width: 40px;
  text-align: center;
  position: relative;
  background-color: #04a4e7;
  border-radius: 20px;
}
.header .contacts__link:hover {
  background-color: #fc5b5b;
}
.header .contacts__link:before {
  margin-bottom: 10px;
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px -72px;
  width: 15px;
  height: 21px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header .contacts__link--msg {
  margin-right: 10px;
  padding-top: 13px;
}
.header .contacts__link--msg:before {
  margin-bottom: 13px;
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px -97px;
  width: 21px;
  height: 15px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header .contacts__link--search {
  margin-right: 10px;
  background-color: #fc5b5b;
}
.header .contacts__link--search:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px -23px;
  width: 21px;
  height: 21px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header__nav {
  position: relative;
}
.header__nav-item {
  display: inline-block;
  vertical-align: middle;
}
.header__nav-item a {
  text-transform: uppercase;
  padding: 5px 31px;
  font-size: 18px;
  font-weight: bold;
  color: #04a4e7;
  font-family: "Appetite";
}
.header__nav-item a:hover {
  color: #fc5b5b;
}
.header__nav-item:first-child a {
  padding-left: 0;
}
.header__nav-item:last-child a {
  padding-right: 0;
}
.header__sub-menu {
  display: none;
  position: absolute;
  padding: 15px 0;
  top: 45px;
  background: #fff;
}
.header__sub-menu-item a {
  display: inline-block;
  font-size: 14px;
}
.banner {
  background-image: url(../img/banner/background_banner.jpg);
  background-size: cover;
  min-height: 420px;
  padding: 55px 0;
}
.banner__title {
  font-size: 40px;
  margin-bottom: 35px;
  font-family: "Appetite";
  letter-spacing: 0.03em;
  color: #fff;
}
.banner__info {
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.banner__dates {
  color: #04a4e7;
  font-size: 30px;
  font-family: "Appetite";
}
.timer {
  text-align: center;
  padding: 60px 100px;
  color: #fc5b5b;
}
.timer__tab {
  font-size: 60px;
  padding: 25px 20px;
  border: 4px solid #fc5b5b;
  margin-bottom: 10px;
  color: #fc5b5b;
  font-family: "Appetite";
}
.timer__txt {
  font-family: 'Open Sans', sans-serif;
  color: #fc5b5b;
}
.programm {
  text-align: center;
  padding: 40px 0 30px 0;
  min-height: 330px;
  background-image: url(../img/programm/background_programm_.jpg);
  background-size: cover;
}
.programm__include {
  margin-bottom: 35px;
}
.programm__txt {
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
}
.programm__img {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 20px;
}
.programm__tizer {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.do {
  padding: 60px 0;
}
.do .speaker-col {
  display: inline-block;
  vertical-align: top;
  padding: 0 80px 0 0;
  width: 50%;
}
.do .student-col {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 80px;
  width: 50%;
}
.do li {
  padding: 5px 0;
}
.do__img {
  max-height: 400px;
  border-radius: 50%;
}
.do__title {
  font-family: "Appetite";
  color: #04a4e7;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.do__txt {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
}
.do__bonuses {
  margin: 20px 0 20px 0;
  color: #04a4e7;
  font-family: 'Open Sans', sans-serif;
}
.do__bonus-diplom:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -40px -38px;
  width: 31px;
  height: 31px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-feedback:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -86px -37px;
  width: 31px;
  height: 31px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-speach:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -38px;
  width: 36px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-discount:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 36px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-glory:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -46px 0px;
  width: 36px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-horizon:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px 0px;
  width: 31px;
  height: 19px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-workshop:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -86px 0px;
  width: 34px;
  height: 33px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-tradition:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -63px -74px;
  width: 27px;
  height: 31px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-winter:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -29px -74px;
  width: 30px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-certificate:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -72px;
  width: 25px;
  height: 38px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .copy {
  font-size: 14px;
  line-height: 90px;
  font-family: 'Open Sans', sans-serif;
}
.footer .social-icons {
  float: right;
  padding: 23px 0;
}
.footer .social-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #fc5b5b;
}
.footer .social-icon:after {
  position: relative;
  top: 12px;
}
.footer .social-icon:hover {
  background-color: #04a4e7;
}
.footer .social-icon--vk:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -94px -74px;
  width: 22px;
  height: 13px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .social-icon--facebook:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -142px -72px;
  width: 11px;
  height: 20px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .social-icon--twitter:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -94px -91px;
  width: 18px;
  height: 14px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .social-icon--instagram:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -123px -48px;
  width: 20px;
  height: 20px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 360px) {
  /* ////////////////////*/
  /*     Layout-small    */
  /* ////////////////////*/
  .wrapper {
    width: 310px;
  }
  .col-xs-0 {
    display: none!important;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  /* ////////////////////*/
  /*   Typography-small  */
  /* ////////////////////*/
  .section-title {
    font-size: 20px;
  }
  /* ////////////////////*/
  /*   Programm-small    */
  /* ////////////////////*/
  .programm .row [class^=col-] {
    padding: 0;
  }
  .programm__img {
    margin-top: 25px;
  }
  /* ////////////////////*/
  /*        Timer-small  */
  /* ////////////////////*/
  .timer {
    padding: 30px;
  }
  .timer__txt {
    font-size: 20px;
  }
  .timer .timer__block {
    margin-bottom: 10px;
  }
  /* ////////////////////*/
  /*       do-small      */
  /* ////////////////////*/
  .do .speaker-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .do .student-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .do__img {
    max-height: 200px;
    border-radius: 50%;
  }
  .do__bonuses {
    text-align: left;
  }
  .do .flip-container {
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 20px;
  }
  .do .flip-container__back {
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    left: 20%;
  }
  .do .flip-container__back p {
    padding: 40px 0;
    font-size: 20px;
  }
  .do .flip-container__front {
    left: 20%;
  }
  /* ////////////////////*/
  /*    footer-small     */
  /* ////////////////////*/
  .footer {
    text-align: center;
  }
  .footer .row [class^=col-] {
    padding: 0;
  }
  .footer .copy {
    padding-top: 10px;
    line-height: 20px;
  }
  .footer .social-icons {
    float: none;
    padding: 10px 0;
  }
  /* ////////////////////*/
  /*    header-small     */
  /* ////////////////////*/
  .header__nav-item {
    display: block;
  }
  .header__nav-item:first-child a {
    padding-left: 31px;
  }
  .header__nav-item:last-child a {
    padding-right: 31px;
  }
  .header .logo {
    width: 100%;
  }
  .header .logo__title {
    width: 65%;
  }
  .header .contacts {
    width: 100%;
  }
  /* ////////////////////*/
  /*    banner-small     */
  /* ////////////////////*/
  .banner {
    background-position: 850px 0px;
  }
  .banner__title {
    font-size: 25px;
    text-align: center;
    padding: 0 20px;
  }
  .banner__info {
    font-size: 15px;
  }
  .banner .btn-info {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .banner__dates {
    padding: 0 20px;
  }
}
