/* ////////////////////// */
/*        LAYOUT          */
/* ////////////////////// */
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.row {
  margin: 0 -18px;
  font-size: 0;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 18px;
  font-size: 15px;
}
.row [class^=col-]:first-child {
  padding-left: 0;
}
.row [class^=col-]:last-child {
  padding-right: 0;
}
/***************************
********Scafolding**********
***************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
