.about
{
	&__teaser
	{
		p
		{
			font-size: 14px;			
  			line-height: 20px;  			
  			margin-bottom: 35px;
		}

		.about__caption
		{
			color:@blue-basic;
			font-size: 20px;
		}
	}

	&__goals
	{
		list-style-type: none; 
		counter-reset: item; 
		margin-bottom: 35px;
		&-goal
		{
			font-size: 14px;			
			line-height: 24px;			
			color: @grey-basic;

			&:before
			{
			    content: counter(item) ') '; 
			    counter-increment: item; 
			}
		}
	}	
}

.person
{
	&__img			
	{
		width: 100%;		
		margin-bottom: 34px;
		img
		{
			width: 100%;
		}	
	}

	&__name
	{
		display: block;
		margin-bottom: 25px;
		text-align:center;		
		color:@blue-basic;
		font-size: 18px;
	}

	&__profession
	{
		display: block;
		text-align:center;		
		font-size: 12px;
		color:@grey-basic;
		margin-bottom: 30px;
	}
}

.infographics
{
	padding: 0 200px;
	text-align: center;
	margin-bottom: 45px;

	&__img
	{
		margin-bottom: 25px;
		max-height: 115px;
		max-width: 140px;
	}

	&__num
	{
		display: block;
		font-family: "Appetite";
		font-size: 36px;
		color: @blue-basic;
	}

	&__txt
	{
		display: block;
		font-family: "Appetite";
		font-size: 18px;
		color: @blue-basic;
	}
}