.do
{
	padding: 60px 0;
	
	.speaker-col
	{
		display: inline-block;
  		vertical-align: top;
  		padding: 0 80px 0 0;
		width: 50%;
	}

	.student-col
	{
		display: inline-block;
  		vertical-align: top;
  		padding: 0 0 0 80px;
		width: 50%;
	}

	li
	{
		padding: 5px 0;
	}
		
	&__img
	{
		max-height: 400px;
		border-radius: 50%;
	}

	&__title
	{
		font-family: "Appetite"; 
		color: @blue-basic;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 15px;		
		font-weight: 100;
	}

	&__txt
	{
		font-size: 14px;
		color:@grey-basic;
		margin-bottom: 10px;
	}

	&__bonuses
	{
		margin: 20px 0 20px 0;	
		color:@blue-basic;			
		min-height: 205px;
	}


	&__bonus
	{		
		&-diplom
		{
			&:before
			{
				content: "";
				display: inline-block;
				vertical-align: middle;
			   .sprite(@diplom);
			}		
		}	

		&-feedback
		{
			&:before
			{				
			   .sprite(@feedback);
			}				
		}

		&-speach
		{						
			&:before
			{
			   .sprite(@speach);
			}				
		}

		&-discount
		{
			&:before
			{
			   .sprite(@discount) ;
			}
		}

		&-glory
		{
			&:before
			{
			   .sprite(@glory) ;
			}
		}

		&-horizon
		{
			&:before
			{
			   .sprite(@horizon) ;
			}
		}

		&-workshop
		{
			&:before
			{
			   .sprite(@workshop) ;
			}
		}

		&-tradition
		{			
			&:before
			{
			   .sprite(@tradition) ;
			}
		}

		&-winter
		{	
			&:before
			{
			   .sprite(@winter) ;
			}
		}

		&-certificate
		{			
			&:before
			{
			   .sprite(@certificate) ;
			}
		}			
	}
}