.applications
{
	section
	{
		margin: 60px 0;
	}
	&__img
	{
		max-height: 400px;
	}

	&__title
	{
		font-family: "Appetite"; 
		color: @blue-basic;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 15px;		
	}

	&__txt
	{
		font-size: 14px;
		color:@grey-basic;
		margin-bottom: 10px;
	}

	&__bonus-list
	{
		margin: 20px 0 20px 0;		
		text-transform: uppercase;		
		color:@grey-basic;
	}

	&__bonus-item
	{		
		padding: 10px 0 10px 55px;
		background-size: 30px 30px;
		font-family: @open-sans;
		font-weight: bold;
		font-size: 14px;

		background: url(../img/aplications/diplom.png) 0 50% no-repeat;	

		&--feedback
		{
			background: url(../img/aplications/feedback.png) 0 50% no-repeat;	
		}

		&--speach
		{
			background: url(../img/aplications/speach.png) 0 50% no-repeat;	
		}

		&--discount
		{
			background: url(../img/aplications/discount.png) 0 50% no-repeat;
		}

		&--glory
		{
			background: url(../img/aplications/glory.png) 0 50% no-repeat;
		}

		&--horizon
		{
			background: url(../img/aplications/horizon.png) 0 50% no-repeat;
		}

		&--workshop
		{
			background: url(../img/aplications/workshop.png) 0 50% no-repeat;
		}

		&--tradition
		{
			background: url(../img/aplications/tradition.png) 0 50% no-repeat;
		}

		&--winter
		{
			background: url(../img/aplications/winter.png) 0 50% no-repeat;
		}

		&--certificate
		{
			background: url(../img/aplications/certificate.png) 0 50% no-repeat;
		}
	}

	.recomendation-wrap
	{
		margin-bottom: 25px;
	}
}

.flip-container
{
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  
  &:hover 
  {
    transform: rotateY(180deg);
  }
   
  &__front, &__back
  {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  &__front
  {
    z-index: 2;
  }
  
  &__back
  {
    background-color: #fff;           
    transform: rotateY(180deg);
    border: 5px solid @blue-basic;
    padding: 170px 0;
    
    & p
    {      
      text-align: center;
      font-family: "Appetite"; 
      color: @blue-basic;
      font-size: 24px;
      text-transform: uppercase;     
    }
  }
}