.do
{
	padding: 60px 0;
	
	.speaker-col
	{
		display: inline-block;
  		vertical-align: top;
  		padding: 0 80px 0 0;
		width: 50%;
	}

	.student-col
	{
		display: inline-block;
  		vertical-align: top;
  		padding: 0 0 0 80px;
		width: 50%;
	}

	li
	{
		padding: 5px 0;
	}
		
	&__img
	{
		max-height: 400px;
		border-radius: 50%;
	}

	&__title
	{
		font-family: "Appetite"; 
		color: @blue-basic;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 15px;		
		font-weight: 100;
	}

	&__txt
	{
		font-size: 14px;
		color:@grey-basic;
		margin-bottom: 10px;
	}

	&__bonuses
	{
		margin: 20px 0 20px 0;	
		color:@blue-basic;			
		min-height: 205px;
	}


	&__bonus
	{		
		&-diplom
		{
			&:before
			{
				content: "";
				display: inline-block;
				vertical-align: middle;
			   .sprite(@diplom);
			}		
		}	

		&-feedback
		{
			&:before
			{				
			   .sprite(@feedback);
			}				
		}

		&-speach
		{						
			&:before
			{
			   .sprite(@speach);
			}				
		}

		&-discount
		{
			&:before
			{
			   .sprite(@discount) ;
			}
		}

		&-glory
		{
			&:before
			{
			   .sprite(@glory) ;
			}
		}

		&-horizon
		{
			&:before
			{
			   .sprite(@horizon) ;
			}
		}

		&-workshop
		{
			&:before
			{
			   .sprite(@workshop) ;
			}
		}

		&-tradition
		{			
			&:before
			{
			   .sprite(@tradition) ;
			}
		}

		&-winter
		{	
			&:before
			{
			   .sprite(@winter) ;
			}
		}

		&-certificate
		{			
			&:before
			{
			   .sprite(@certificate) ;
			}
		}			
	}
}

.aplication
{
	&__class
	{
		text-align: center;
		font-family: "Appetite";
		font-size:36px;
		color: @blue-basic;
		margin-bottom: 30px;
	}

	&__option
	{		
		color: @blue-basic;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 30px;
		min-height: 65px;
	}

	&__uni
	{
		color: @blue-basic;
		margin-bottom: 30px;
		font-weight: bold;
	}

	&__steps
	{
		margin-bottom: 60px;
		min-height: 250px;
		&-step
		{
			padding-left: 50px;
			margin-bottom: 15px;
			min-height: 50px;
			&--selection
			{
				background: url('../img/_for_sprite/aplication/selection.png') no-repeat 0% 50% ;
			}			

			&--letter
			{
				background: url('../img/_for_sprite/aplication/letter.png') no-repeat 0% 50% ;
			}	
			
			&--participant
			{
				background: url('../img/_for_sprite/aplication/participant.png') no-repeat 0% 50% ;
			}
			
			&--meeting
			{
				background: url('../img/_for_sprite/aplication/meeting.png') no-repeat 0% 50% ;
			}
			
			&--letter-download
			{
				background: url('../img/_for_sprite/aplication/letter-download.png') no-repeat 0% 50% ;
			}
			
			&--project
			{
				background: url('../img/_for_sprite/aplication/project.png') no-repeat 0% 50% ;
			}

			&--mail
			{
				background: url('../img/_for_sprite/aplication/mail.png') no-repeat 0% 50% ;
			}

			&--request
			{
				background: url('../img/_for_sprite/aplication/request.png') no-repeat 0% 50% ;
			}
		}
	}
}