.banner
{
  background-image: url(../img/banner/background_banner.jpg);
  background-size: cover;
  min-height: @min-height-banner; 
  min-width: @wrapper-width-correct;
  padding: 55px 0;

  &__title
  {
  	font-size: 36px;
    font-weight: 100;
  	margin-bottom: 35px;
    font-family: "Appetite"; 
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    span
    {
      font-size: 50px;
    }
  }

  &__info
  {
  	font-size: 16px;
  	margin-bottom: 30px;
   	color: #fff;    
  }

  &__dates
  {
  	color: @blue-basic;  	
  	font-size: 30px;
    font-family: "Appetite"; 
  }
}