.btn-info
{
  cursor: pointer;  
  display: inline-block;
  vertical-align: middle;  
  padding: 15px 30px;  
  border: 2px solid #fff;   
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 75px;
  color: #fff;
  //background-color: @green-color;

  
  &:hover
  {
    background-color: rgba(255, 255, 255, 0.3);
  }

  &:active
  {      

  }    
}

.btn-order
{
  cursor: pointer;  
  display: inline-block;
  vertical-align: middle;  
  padding: 15px 25px;  
  background-color: @blue-basic;  
  outline: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  
  &:hover
  {
    background-color: @red-basic;
  }

  &:active
  {      

  }    
}


.btn-respond
{
  cursor: pointer;  
  display: inline-block;
  vertical-align: middle;  
  padding: 15px 15px;  
  background-color: @blue-basic;  
  outline: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  
  &:hover
  {
    background-color: @red-basic;
  }

  &:active
  {      

  }      
}