.contacts
{
	margin-bottom: 300px;
	&__paragraph
	{
		margin-bottom: 35px;

		a[href="mailto:zpsh@spbu.ru"]
		{
			color:@blue-basic;
		}		
	}	

	&__map
	{
		width: 100%;		
		height: @height-contacts-map;
		overflow: hidden;
	}
}