.information
{
	margin-bottom: 465px;
}


.document
{
	margin-bottom: 25px;

	&__img
	{
		width: 100%;
		margin-bottom: 40px;
		img
		{
			width: 100%;
		}
	}

	&__title
	{
		font-size: 14px;
		margin-bottom: 25px;
		
		&--journal
		{
			min-height: 95px;
		}
	}

	&__video
	{
		width: 100%;
		iframe
		{
			width: 100%;
		}
	}

	&__link
	{
		display: inline-block;
		vertical-align: middle;
		min-height: 35px;
		margin-right: 40px;
		background: url(../img/_for_sprite/document-pdf.png) no-repeat 0% 50%;
		a
		{
			padding-left:40px;
		}

		&--pdf		
		{
			background: url(../img/_for_sprite/document-pdf.png) no-repeat 0% 0%;
		}

		&--doc		
		{
			background: url(../img/_for_sprite/document-doc.png) no-repeat 0% 0%;
		}

		&--xlsx		
		{
			background: url(../img/_for_sprite/document-xlsx.png) no-repeat 0% 0%;
		}

		&--pptx		
		{
			background: url(../img/_for_sprite/document-pptx.png) no-repeat 0% 0%;
		}
	}
}