.footer
{
	.copy
	{
		font-size: 14px;
		line-height: 90px;
		font-family: @open-sans;
	}

	.social-icons
	{
		float: right;
		padding: 23px 0;		
	}

	.social-icon
	{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		height: 40px;
		width: 40px;
		border-radius: 20px;
		background-color: @red-basic;

		&:after
		{
			position: relative;
			top: 12px;	
		}

		&:hover
		{
			background-color: @blue-basic;
		}
		  		
		&--vk
		{
			&:after
			{				
				.sprite(@icon-vk);	
			}		
		}

		&--facebook
		{
			&:after
			{				
				.sprite(@icon-facebook);			
			}		
		}

		&--twitter
		{
			&:after
			{
				.sprite(@icon-twitter);						
			}		
		}

		&--instagram
		{
			&:after
			{
				.sprite(@icon-instagram);					
			}		
		}				
	}
}