.footer
{
	.copy
	{
		font-size: 14px;
		line-height: 90px;
		font-family: @open-sans;
	}

	.social-icons
	{
		float: right;
		padding: 23px 0;
	}

	.social-icon
	{
		font-size: 0;
		margin-left: 7px;
		img
		{
			max-height: 40px;
			max-width: 40px;			
		}
	}
}