.search-form-w
{
	position: relative;	
}

.search-form
{
	position: relative;
	left: 45px;
	display: inline-block;			
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50px;
	background-color: @red-basic;


	&__input
	{				
		color: #fff;
		background-color: #fc5b5b;
		height: 50px;
		border: 0px solid #d6d6d6;
		background-repeat: no-repeat;
		font-size: 20px;
		position: absolute;
		right: 100px;	
		outline: none;
	}

	&__submit
	{		
		position: absolute;
		color: #fff;		
		height: 40px;
		width: 40px;
		border: 0px solid #d6d6d6;
		background-color: transparent;
		background: url(../img/header/search_icon.png) 0 50% no-repeat;
		font-size: 23px;
		right: 50px;
		border-right: 1px solid #fff;
		outline: none;
	}
}