.header
{	
	padding:20px 0; 

	&__top
	{
		margin-bottom: 20px;
	}

	.logo
	{
		float: left;
		width: 30%;
		&__img
		{
			margin-right: 25px;
		}	

		&__title
		{
			display: inline-block;
			font-family: @open-sans;
			vertical-align: bottom;
  			font-size: 14px;
  			line-height: 24px;
  			color: @grey-basic;
  			font-weight: normal;
  			width: 40%;
		}        
	}

	.contacts
	{
		text-align: right;

		&__link
		{
			
  			font-family: @open-sans;
			display: inline-block;
			vertical-align: top;
			height: 40px;
			font-size: 10px;
			padding-top: 10px;
			width: 40px;
			text-align: center;
			background-color: @blue-basic;
			border-radius: 20px;
			margin-right: 10px;

			&:hover
			{
				background-color: @blue-light;
			}
  			
  			&:before
  			{				
  				margin-bottom: 10px;
				.sprite(@contacts-book);	        
  			}

  			&--msg
  			{
				padding-top: 13px;			
				&:before
  				{
  					margin-bottom: 13px;
  					.sprite(@email-us);	    
  				}
  			}
		}
	}


	&__nav
    {          	
    	display: table;
    	width: @wrapper-width;

    	&-list
		{
			display: table-row;
		}

        &-item
        {               	
            display: table-cell;
            position: relative;
            text-align: center;

            a
            {
            	text-transform: uppercase;  					
				font-size: 18px; 
				font-weight: bold;
				color: @blue-basic;
				font-family: "Appetite"; 	
				&:hover
				{
					color: @red-basic;					
				}			               
            }    

            &:first-child 
            {
            	text-align: left;
            }    

            &:last-child 
            {
                text-align: right;
                
            }   

            .header__sub-menu-item	a
            {
				padding: 5px 31px; 
            }
        }        
    }

	
    &__sub-menu
    {
    	display: none;
    	z-index: 2;
		position: absolute;			
		padding: 15px 0;
		top: 45px;
		background: #fff;
		&-item
		{
			a
			{
				display: inline-block;
				font-size: 14px;
			}			
		}
    }       	
}