.header
{	
	padding:20px 0; 

	&__top
	{
		margin-bottom: 20px;
	}

	.logo
	{
		float: left;

		&__img
		{
			margin-right: 25px;
		}	

		&__title
		{
			display: inline-block;
			font-family: @open-sans;
			vertical-align: bottom;
  			font-size: 14px;
  			line-height: 24px;
  			color: @grey-basic;
  			font-weight: normal;
  			width: 30%;
		}        
	}

	.contacts
	{
		float: right;
		text-align: right;

		&__link
		{
			cursor: pointer;
			display: inline-block;
  			vertical-align: top;
  			font-family: @open-sans;
			padding-top:45px; 
			font-size: 10px;
			width: 25%;  			
  			text-align: center;
  			position: relative;
  			
  			&:after
  			{
				background: url(../img/header/contacts_book.png) 0 0 no-repeat;
				content: "";
		        width: 40px;
		        height: 40px;
		        display: block;
		        position: absolute;		        
		        top: 0;
		        left: 0;		        
  			}

  			&--msg
  			{
				margin-right: 10px;
				&:after
  				{
  					background: url(../img/header/email_us.png) 0 0 no-repeat;	
  				}
  			}

  			&--search
  			{
  				margin-right: 10px;
  				&:after
  				{
					background: url(../img/header/search.png) 0 0 no-repeat;
				}
  			}
		}
	}


	&__nav
    {      
    	position: relative;
        &-item
        {               	
            display: inline-block;     
            vertical-align: middle;                                             
            a
            {
            	text-transform: uppercase;  
				padding: 5px 31px; 	
				font-size: 18px; 
				font-weight: bold;
				color: @blue-basic;
				font-family: "Appetite"; 	
				&:hover
				{
					color: @red-basic;					
				}			               
            }    

            &:first-child a
            {
            	padding-left:0;
            }    

            &:last-child a
            {
                padding-right:0;
            }   		
        }        
    }

    &__sub-menu
    {
    	display: none;
		position: absolute;			
		padding: 15px 0;
		top: 45px;
		background: #fff;
		&-item
		{
			a
			{
				display: inline-block;
				font-size: 14px;
			}			
		}
    }       

	.search-form
	{
		position: relative;			
		width: 310px;
		height: 50px;
		overflow: hidden;
		border-radius: 50px;
		background-color: @red-basic;
	

		&__input
		{
			display: block;
			position: absolute;
			color: #fff;
			background-color: green;
			height: 50px;
			border: 0px solid #d6d6d6;
			//background-color: transparent;
			background-repeat: no-repeat;	
			font-size: 23px;	
		}
	}
}