.header
{	
	padding-top:20px; 

	&__top
	{
		margin-bottom: 20px;
	}
	.logo
	{
		float: left;

		&__img
		{
			margin-right: 25px;
		}		
		&__title
		{
			display: inline-block;
			vertical-align: top;
  			font-size: 16px;
  			line-height: 18px;
  			font-weight: normal;
  			width: 30%;
		}        
	}

	.contacts
	{
		float: right;
		text-align: right;

		&__link
		{
			padding-top:40px; 
			width: 30%;
  			display: inline-block;
  			text-align: center;
  			position: relative;
  			
  			&:after
  			{
				background: url(../img/header/msg.png) 0% 0px no-repeat;
				content: "";
		        width: 40px;
		        height: 40px;
		        display: block;
		        position: absolute;		        
		        top: 0;
		        left: 25%;		        
  			}

  			&--msg
  			{
				margin-right: 10px;
  			}
		}
	}


	&__nav
    {      
        &-item
        {               	
            display: inline-block;     
            vertical-align: middle;
            text-transform: uppercase;   
                                 
            a
            {
				padding: 5px 13px;  	
				font-size: 18px;  				               
            }    

            &:first-child a
            {
            	padding-left:0;
            }    

            &:last-child a
            {
                padding-right:0;
            }   

        }
    }
}