@media (max-width: @resolution-mobile) 
{ 
    .wrapper
    {  
        width: @wrapper-width-mobile;
    }   

   .generate-columns(@n,@i:1) when (@i=<@n)
    {  
        .col-xs-@{i}
        {
            width:(@i*100%/@n);       
        }
        .generate-columns(@n, (@i+1));
    }

    .generate-columns(12);

	.section-title
	{
		font-size: 20px;		
	}

    .programm
	{	
		min-width: @wrapper-width-mobile;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}

		&__img
		{
			margin-top: 25px;
		}
	}

	.timer
	{
		padding: @wrapper-margin;
		&__txt
		{
			font-size: 20px;		
		}	

		.timer__block
		{
			margin-bottom: 10px;
		}
	}

	.do
	{		
		.speaker-col
		{
			width: 100%;
			padding: 0;
			text-align: center;
		}

		.student-col
		{		
			width: 100%;	
			padding: 0;
			text-align: center;
		}

		&__img
		{
			max-height: 200px;
			border-radius: 50%;
		}

		&__bonuses
		{
			text-align: left;
		}

		.flip-container
		{		  
			min-height: 200px;
			max-height: 200px;
			margin-bottom: 20px;
		 	&__back
		  	{
			    min-height: 200px;
			    max-height: 200px;
			    max-width: 200px;
			    left: 20%;
			    & p
    			{  
    				padding: 40px 0;
    				font-size: 20px;
    			}
			}
			&__front
		  	{
				left: 20%;
		  	}
		}	

		.l-margin-bottom-75	
		{
			margin-bottom: 0;
		}
	}

	.footer
	{
		text-align: center;
		font-weight: bold;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}
		.copy
		{
			padding-top: 10px;
			line-height: 20px;			
		}

		.social-icons
		{
			float: none;
			padding: 10px 0;
		}
	}

	.header
	{
		min-width: @wrapper-width-mobile-correct;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}
	
		.logo
		{    		
			&__title
			{
				width: 65%;
			}        
		}    

		.js-search-form
		{
			display: block;
			margin: 10px ;

			&__input
			{	
				width: 250px;
			}
		}

		.round-links__link--msg
		{
			float: left;
			margin: 0 0 10px 10px;	
		}
		
		&__nav
	    {      		   
	    	width: @wrapper-width-mobile-correct; 	
	        &-item
	        {               	
	            display:block;
	            text-align: center;	 
	            border: 1px solid @blue-basic;           		        	          		
	        }        
	    }

		&__sub-menu
	    {	    	
	    	position: static;
	    				
			&-item
			{
				border: 5px solid @blue-basic;
				a
				{
					
				}			
			}
	    }           	
	}

	.map
	{
		min-width: @wrapper-width-mobile;
	}

    .banner
    {
    	background-position: 850px 0px;    
		min-width:  @wrapper-width-mobile;
		&__title
		{
			font-size: 25px;
			text-align: center;
			padding: 0 20px;
			span
			{
				font-size: 35px;
			}
		}
		
		&__info
		{
			font-size: 15px;	
		}

		.btn-info
		{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}

		&__dates
		{
			padding: 0 20px;
		}
    }

    .popup__content
    {
		width: @wrapper-width-mobile;
    }
	

	.page
	{

		&-nav
		{
			
			&__link
			{
				display: inline-block;
				vertical-align: top;
				font-size: 0;
				width: 30%;
				margin-right: 10px;
				a
				{
					font-size: 20px;
				}																
			}
		}
	}

    .infographics
	{
		padding: 0 0;
		text-align: center;
		margin-bottom: 25px;

		&__img
		{
			margin-bottom: 25px;
			max-height: 115px;
			max-width: 140px;
		}

		&__txt
		{
			margin-bottom: 20px;

		}

		&.row [class^=col-]
		{			 
			padding: 0;			    			
		}
	}

	.articles
	{
		font-size: 0;
		li
		{
		  	display: block;
			margin: 0 auto;
			margin-bottom: 30px;
			width: 80%;
			
			.articles__img
			{
				display: block;							
				padding-right: 0;
				margin-bottom: 10px;
				width: 100%;

				img
				{				
					width: 100%
				}
			}
					
			p
			{
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				line-height: 24px;		
				width: 100%;				
			}				

			&:nth-child(2n+1)
			{
				padding-right: 0;
			}

			&:nth-child(2n)
			{
				padding-left: 0;
			}
		}	
	}

}