@media (max-width: @resolution-mobile) 
{ 
    .wrapper
    {  
        width: @wrapper-width-mobile;
    }   

   .generate-columns(@n,@i:1) when (@i=<@n)
    {  
        .col-xs-@{i}
        {
            width:(@i*100%/@n);       
        }
        .generate-columns(@n, (@i+1));
    }

    .generate-columns(12);

	.section-title
	{
		font-size: 20px;		
	}

    .programm
	{	
		min-width: @wrapper-width-mobile;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}

		&__img
		{
			margin-top: 25px;
		}
	}

	.timer
	{
		padding: @wrapper-margin;
		&__txt
		{
			font-size: 20px;		
		}	

		.timer__block
		{
			margin-bottom: 10px;
		}
	}

	.do
	{		
		.speaker-col
		{
			width: 100%;
			padding: 0;
			text-align: center;
		}

		.student-col
		{		
			width: 100%;	
			padding: 0;
			text-align: center;
		}

		&__img
		{
			max-height: 200px;
			border-radius: 50%;
		}

		&__bonuses
		{
			text-align: left;
		}

		.flip-container
		{		  
			min-height: 200px;
			max-height: 200px;
			margin-bottom: 20px;
		 	&__back
		  	{
			    min-height: 200px;
			    max-height: 200px;
			    max-width: 200px;
			    left: 20%;
			    & p
    			{  
    				padding: 40px 0;
    				font-size: 20px;
    			}
			}
			&__front
		  	{
				left: 20%;
		  	}
		}	

		.l-margin-bottom-75	
		{
			margin-bottom: 0;
		}
	}

	.footer
	{
		text-align: center;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}
		.copy
		{
			padding-top: 10px;
			line-height: 20px;			
		}

		.social-icons
		{
			float: none;
			padding: 10px 0;
		}
	}

	.header
	{
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}
	
		.logo
		{    		
			&__title
			{
				width: 65%;
			}        
		}    

		.js-search-form
		{
			display: block;
			margin: 10px ;

			&__input
			{	
				width: 250px;
			}
		}

		.contacts__link--msg
		{
			float: left;
			margin: 0 0 10px 10px;	
		}
		
		&__nav
	    {      		   
	    	width: @wrapper-width-mobile; 	
	        &-item
	        {               	
	            display:block;
	            text-align: left;	            
		        &:last-child
		        {               		              	            				
		            text-align: left;								
		        }     	          		
	        }        
	    }

		&__sub-menu
	    {	    	
	    	top:0;
	    	left: 0;
	    	border: 1px solid @blue-basic;			
			&-item
			{
				a
				{
					
				}			
			}
	    }           	
	}

	.map
	{
		min-width: @wrapper-width-mobile;
	}

    .banner
    {
    	background-position: 850px 0px;    
		min-width:  @wrapper-width-mobile;
		&__title
		{
			font-size: 25px;
			text-align: center;
			padding: 0 20px;
			span
			{
				font-size: 35px;
			}
		}
		
		&__info
		{
			font-size: 15px;	
		}

		.btn-info
		{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}

		&__dates
		{
			padding: 0 20px;
		}
    }

    .popup__content
    {
		width: @wrapper-width-mobile;
    }
}