.questions
{
	p, ul
	{
		margin-bottom: 25px;
	}
	
	&__question
	{
		p
		{
			color: @blue-basic;
			font-size: 20px;
			border-bottom: 2px dotted @blue-basic;
			display: inline-block;	
			cursor: pointer;
		}


		&--active
		{
			p
			{
				border-bottom: none;
			}
		}

		&--active + .questions__answer
		{
			display: block;
		}
	}

	

	&__qualification
	{
		color: @blue-basic;
	}

	&__clarification
	{
		color:@grey-basic;
		font-size: 14px;
	}

	&__answer
	{
		display: none;
	}
}