/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@certificate-name: certificate;
@certificate-x: 190px;
@certificate-y: 83px;
@certificate-offset-x: -190px;
@certificate-offset-y: -83px;
@certificate-width: 24px;
@certificate-height: 40px;
@certificate-total-width: 254px;
@certificate-total-height: 223px;
@certificate-image: 'sprite.png';
@certificate: 190px 83px -190px -83px 24px 40px 254px 223px '../img/sprite/sprite.png' certificate;
@diplom-name: diplom;
@diplom-x: 0px;
@diplom-y: 193px;
@diplom-offset-x: 0px;
@diplom-offset-y: -193px;
@diplom-width: 30px;
@diplom-height: 30px;
@diplom-total-width: 254px;
@diplom-total-height: 223px;
@diplom-image: 'sprite.png';
@diplom: 0px 193px 0px -193px 30px 30px 254px 223px '../img/sprite/sprite.png' diplom;
@discount-name: discount;
@discount-x: 50px;
@discount-y: 45px;
@discount-offset-x: -50px;
@discount-offset-y: -45px;
@discount-width: 41px;
@discount-height: 33px;
@discount-total-width: 254px;
@discount-total-height: 223px;
@discount-image: 'sprite.png';
@discount: 50px 45px -50px -45px 41px 33px 254px 223px '../img/sprite/sprite.png' discount;
@document-doc-name: document-doc;
@document-doc-x: 129px;
@document-doc-y: 106px;
@document-doc-offset-x: -129px;
@document-doc-offset-y: -106px;
@document-doc-width: 33px;
@document-doc-height: 34px;
@document-doc-total-width: 254px;
@document-doc-total-height: 223px;
@document-doc-image: 'sprite.png';
@document-doc: 129px 106px -129px -106px 33px 34px 254px 223px '../img/sprite/sprite.png' document-doc;
@feedback-name: feedback;
@feedback-x: 80px;
@feedback-y: 193px;
@feedback-offset-x: -80px;
@feedback-offset-y: -193px;
@feedback-width: 30px;
@feedback-height: 30px;
@feedback-total-width: 254px;
@feedback-total-height: 223px;
@feedback-image: 'sprite.png';
@feedback: 80px 193px -80px -193px 30px 30px 254px 223px '../img/sprite/sprite.png' feedback;
@glory-name: glory;
@glory-x: 145px;
@glory-y: 0px;
@glory-offset-x: -145px;
@glory-offset-y: 0px;
@glory-width: 35px;
@glory-height: 33px;
@glory-total-width: 254px;
@glory-total-height: 223px;
@glory-image: 'sprite.png';
@glory: 145px 0px -145px 0px 35px 33px 254px 223px '../img/sprite/sprite.png' glory;
@horizon-name: horizon;
@horizon-x: 124px;
@horizon-y: 150px;
@horizon-offset-x: -124px;
@horizon-offset-y: -150px;
@horizon-width: 30px;
@horizon-height: 18px;
@horizon-total-width: 254px;
@horizon-total-height: 223px;
@horizon-image: 'sprite.png';
@horizon: 124px 150px -124px -150px 30px 18px 254px 223px '../img/sprite/sprite.png' horizon;
@letter-download-name: letter-download;
@letter-download-x: 43px;
@letter-download-y: 106px;
@letter-download-offset-x: -43px;
@letter-download-offset-y: -106px;
@letter-download-width: 33px;
@letter-download-height: 34px;
@letter-download-total-width: 254px;
@letter-download-total-height: 223px;
@letter-download-image: 'sprite.png';
@letter-download: 43px 106px -43px -106px 33px 34px 254px 223px '../img/sprite/sprite.png' letter-download;
@letter-name: letter;
@letter-x: 0px;
@letter-y: 0px;
@letter-offset-x: 0px;
@letter-offset-y: 0px;
@letter-width: 40px;
@letter-height: 40px;
@letter-total-width: 254px;
@letter-total-height: 223px;
@letter-image: 'sprite.png';
@letter: 0px 0px 0px 0px 40px 40px 254px 223px '../img/sprite/sprite.png' letter;
@mail-name: mail;
@mail-x: 81px;
@mail-y: 150px;
@mail-offset-x: -81px;
@mail-offset-y: -150px;
@mail-width: 33px;
@mail-height: 23px;
@mail-total-width: 254px;
@mail-total-height: 223px;
@mail-image: 'sprite.png';
@mail: 81px 150px -81px -150px 33px 23px 254px 223px '../img/sprite/sprite.png' mail;
@meeting-name: meeting;
@meeting-x: 39px;
@meeting-y: 150px;
@meeting-offset-x: -39px;
@meeting-offset-y: -150px;
@meeting-width: 32px;
@meeting-height: 29px;
@meeting-total-width: 254px;
@meeting-total-height: 223px;
@meeting-image: 'sprite.png';
@meeting: 39px 150px -39px -150px 32px 29px 254px 223px '../img/sprite/sprite.png' meeting;
@participant-name: participant;
@participant-x: 101px;
@participant-y: 46px;
@participant-offset-x: -101px;
@participant-offset-y: -46px;
@participant-width: 34px;
@participant-height: 36px;
@participant-total-width: 254px;
@participant-total-height: 223px;
@participant-image: 'sprite.png';
@participant: 101px 46px -101px -46px 34px 36px 254px 223px '../img/sprite/sprite.png' participant;
@project-name: project;
@project-x: 0px;
@project-y: 50px;
@project-offset-x: 0px;
@project-offset-y: -50px;
@project-width: 34px;
@project-height: 46px;
@project-total-width: 254px;
@project-total-height: 223px;
@project-image: 'sprite.png';
@project: 0px 50px 0px -50px 34px 46px 254px 223px '../img/sprite/sprite.png' project;
@request-name: request;
@request-x: 101px;
@request-y: 0px;
@request-offset-x: -101px;
@request-offset-y: 0px;
@request-width: 34px;
@request-height: 36px;
@request-total-width: 254px;
@request-total-height: 223px;
@request-image: 'sprite.png';
@request: 101px 0px -101px 0px 34px 36px 254px 223px '../img/sprite/sprite.png' request;
@selection-name: selection;
@selection-x: 50px;
@selection-y: 0px;
@selection-offset-x: -50px;
@selection-offset-y: 0px;
@selection-width: 41px;
@selection-height: 35px;
@selection-total-width: 254px;
@selection-total-height: 223px;
@selection-image: 'sprite.png';
@selection: 50px 0px -50px 0px 41px 35px 254px 223px '../img/sprite/sprite.png' selection;
@speach-name: speach;
@speach-x: 190px;
@speach-y: 0px;
@speach-offset-x: -190px;
@speach-offset-y: 0px;
@speach-width: 35px;
@speach-height: 31px;
@speach-total-width: 254px;
@speach-total-height: 223px;
@speach-image: 'sprite.png';
@speach: 190px 0px -190px 0px 35px 31px 254px 223px '../img/sprite/sprite.png' speach;
@tradition-name: tradition;
@tradition-x: 120px;
@tradition-y: 193px;
@tradition-offset-x: -120px;
@tradition-offset-y: -193px;
@tradition-width: 26px;
@tradition-height: 30px;
@tradition-total-width: 254px;
@tradition-total-height: 223px;
@tradition-image: 'sprite.png';
@tradition: 120px 193px -120px -193px 26px 30px 254px 223px '../img/sprite/sprite.png' tradition;
@winter-name: winter;
@winter-x: 0px;
@winter-y: 150px;
@winter-offset-x: 0px;
@winter-offset-y: -150px;
@winter-width: 29px;
@winter-height: 33px;
@winter-total-width: 254px;
@winter-total-height: 223px;
@winter-image: 'sprite.png';
@winter: 0px 150px 0px -150px 29px 33px 254px 223px '../img/sprite/sprite.png' winter;
@workshop-name: workshop;
@workshop-x: 190px;
@workshop-y: 41px;
@workshop-offset-x: -190px;
@workshop-offset-y: -41px;
@workshop-width: 32px;
@workshop-height: 32px;
@workshop-total-width: 254px;
@workshop-total-height: 223px;
@workshop-image: 'sprite.png';
@workshop: 190px 41px -190px -41px 32px 32px 254px 223px '../img/sprite/sprite.png' workshop;
@document-doc-name: document-doc;
@document-doc-x: 145px;
@document-doc-y: 43px;
@document-doc-offset-x: -145px;
@document-doc-offset-y: -43px;
@document-doc-width: 33px;
@document-doc-height: 34px;
@document-doc-total-width: 254px;
@document-doc-total-height: 223px;
@document-doc-image: 'sprite.png';
@document-doc: 145px 43px -145px -43px 33px 34px 254px 223px '../img/sprite/sprite.png' document-doc;
@document-pdf-name: document-pdf;
@document-pdf-x: 40px;
@document-pdf-y: 193px;
@document-pdf-offset-x: -40px;
@document-pdf-offset-y: -193px;
@document-pdf-width: 30px;
@document-pdf-height: 30px;
@document-pdf-total-width: 254px;
@document-pdf-total-height: 223px;
@document-pdf-image: 'sprite.png';
@document-pdf: 40px 193px -40px -193px 30px 30px 254px 223px '../img/sprite/sprite.png' document-pdf;
@document-pptx-name: document-pptx;
@document-pptx-x: 0px;
@document-pptx-y: 106px;
@document-pptx-offset-x: 0px;
@document-pptx-offset-y: -106px;
@document-pptx-width: 33px;
@document-pptx-height: 34px;
@document-pptx-total-width: 254px;
@document-pptx-total-height: 223px;
@document-pptx-image: 'sprite.png';
@document-pptx: 0px 106px 0px -106px 33px 34px 254px 223px '../img/sprite/sprite.png' document-pptx;
@document-xlsx-name: document-xlsx;
@document-xlsx-x: 86px;
@document-xlsx-y: 106px;
@document-xlsx-offset-x: -86px;
@document-xlsx-offset-y: -106px;
@document-xlsx-width: 33px;
@document-xlsx-height: 34px;
@document-xlsx-total-width: 254px;
@document-xlsx-total-height: 223px;
@document-xlsx-image: 'sprite.png';
@document-xlsx: 86px 106px -86px -106px 33px 34px 254px 223px '../img/sprite/sprite.png' document-xlsx;
@icon-facebook-name: icon_facebook;
@icon-facebook-x: 235px;
@icon-facebook-y: 82px;
@icon-facebook-offset-x: -235px;
@icon-facebook-offset-y: -82px;
@icon-facebook-width: 10px;
@icon-facebook-height: 19px;
@icon-facebook-total-width: 254px;
@icon-facebook-total-height: 223px;
@icon-facebook-image: 'sprite.png';
@icon-facebook: 235px 82px -235px -82px 10px 19px 254px 223px '../img/sprite/sprite.png' icon_facebook;
@icon-instagram-name: icon_instagram;
@icon-instagram-x: 186px;
@icon-instagram-y: 193px;
@icon-instagram-offset-x: -186px;
@icon-instagram-offset-y: -193px;
@icon-instagram-width: 19px;
@icon-instagram-height: 19px;
@icon-instagram-total-width: 254px;
@icon-instagram-total-height: 223px;
@icon-instagram-image: 'sprite.png';
@icon-instagram: 186px 193px -186px -193px 19px 19px 254px 223px '../img/sprite/sprite.png' icon_instagram;
@icon-twitter-name: icon_twitter;
@icon-twitter-x: 235px;
@icon-twitter-y: 59px;
@icon-twitter-offset-x: -235px;
@icon-twitter-offset-y: -59px;
@icon-twitter-width: 17px;
@icon-twitter-height: 13px;
@icon-twitter-total-width: 254px;
@icon-twitter-total-height: 223px;
@icon-twitter-image: 'sprite.png';
@icon-twitter: 235px 59px -235px -59px 17px 13px 254px 223px '../img/sprite/sprite.png' icon_twitter;
@icon-vk-name: icon_vk;
@icon-vk-x: 194px;
@icon-vk-y: 150px;
@icon-vk-offset-x: -194px;
@icon-vk-offset-y: -150px;
@icon-vk-width: 21px;
@icon-vk-height: 12px;
@icon-vk-total-width: 254px;
@icon-vk-total-height: 223px;
@icon-vk-image: 'sprite.png';
@icon-vk: 194px 150px -194px -150px 21px 12px 254px 223px '../img/sprite/sprite.png' icon_vk;
@contacts-book-name: contacts_book;
@contacts-book-x: 235px;
@contacts-book-y: 29px;
@contacts-book-offset-x: -235px;
@contacts-book-offset-y: -29px;
@contacts-book-width: 14px;
@contacts-book-height: 20px;
@contacts-book-total-width: 254px;
@contacts-book-total-height: 223px;
@contacts-book-image: 'sprite.png';
@contacts-book: 235px 29px -235px -29px 14px 20px 254px 223px '../img/sprite/sprite.png' contacts_book;
@email-us-name: email_us;
@email-us-x: 164px;
@email-us-y: 150px;
@email-us-offset-x: -164px;
@email-us-offset-y: -150px;
@email-us-width: 20px;
@email-us-height: 14px;
@email-us-total-width: 254px;
@email-us-total-height: 223px;
@email-us-image: 'sprite.png';
@email-us: 164px 150px -164px -150px 20px 14px 254px 223px '../img/sprite/sprite.png' email_us;
@search-icon-name: search_icon;
@search-icon-x: 156px;
@search-icon-y: 193px;
@search-icon-offset-x: -156px;
@search-icon-offset-y: -193px;
@search-icon-width: 20px;
@search-icon-height: 20px;
@search-icon-total-width: 254px;
@search-icon-total-height: 223px;
@search-icon-image: 'sprite.png';
@search-icon: 156px 193px -156px -193px 20px 20px 254px 223px '../img/sprite/sprite.png' search_icon;
@close-name: close;
@close-x: 235px;
@close-y: 0px;
@close-offset-x: -235px;
@close-offset-y: 0px;
@close-width: 19px;
@close-height: 19px;
@close-total-width: 254px;
@close-total-height: 223px;
@close-image: 'sprite.png';
@close: 235px 0px -235px 0px 19px 19px 254px 223px '../img/sprite/sprite.png' close;
@spritesheet-width: 254px;
@spritesheet-height: 223px;
@spritesheet-image: 'sprite.png';
@spritesheet-sprites: @certificate @diplom @discount @document-doc @feedback @glory @horizon @letter-download @letter @mail @meeting @participant @project @request @selection @speach @tradition @winter @workshop @document-doc @document-pdf @document-pptx @document-xlsx @icon-facebook @icon-instagram @icon-twitter @icon-vk @contacts-book @email-us @search-icon @close;
@spritesheet: 254px 223px '../img/sprite/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
  content: "";
  display: inline-block;
  vertical-align: middle;
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
