.timer
{
	text-align: center;
	padding: 60px 160px;
	color:@red-basic;
	
	&__tab
	{
		font-size: 60px;
		padding: 10px 0;
		border: 4px solid @red-basic;
		margin-bottom: 10px;
		color:@red-basic;
		font-family: "Appetite"; 
	}	

	&__txt
	{
		font-family: @open-sans;
		color:@red-basic;
	}	
}