body
{
	font-family: @open-sans;
}


a
{
	text-decoration: none;
}

li 
{
	list-style-type:none;
}


p
{
	color:@grey-basic;
}



.section-title
{
	color: @blue-basic;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 34px;
	font-family: "Appetite"; 
  	font-weight: 100;

	&--white
	{
		color:#fff;
	}
}

.page
{
	&-title
	{
		text-align: center;
		font-weight: 100;
		color: @red-basic;
		font-family: "Appetite"; 
		margin-bottom: 34px;
		text-transform: uppercase;
		font-size: 30px;
	}

	&-nav
	{
		margin-bottom: 20px;
		&__link
		{
			display: inline-block;
			vertical-align: middle;
			a
			{
				font-size: 18px;				
				color: @blue-basic;
				&:hover
				{
					color: @red-basic;
				}
			}
												
			margin-right: 50px;
			&--active
			{
				font-weight: bold;
				border-bottom: 2px solid @blue-basic;
				&:hover
				{
					a
					{
						color: @red-basic;
					}
					border-bottom: 2px solid @red-basic;
				}
			}
		}
	}
}

.redlink
{  
  color:@red-basic;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
  
  &:hover
  {
    text-decoration: none;
  }  
}

.mb-30
{
	margin-bottom: 30px;
}