///////////////////////////
/////////Variables/////////
///////////////////////////

//Colors


//Fonts


//Sizes
@font-size-h1:32px;
@font-size-h2: round(@font-size-h1*0.875);
@font-size-h3: round(@font-size-h1*0.6875);
@font-size-h4: round(@font-size-h1*0.5);
@font-size-base:15px;

//Wrapper
@container-width:1200px;
@container-margin:18px;

//Forms


//Heights
@min-height-tizer:300px; 