///////////////////////////
/////////Variables/////////
///////////////////////////

//Colors
@blue-basic:#04a4e7;
@red-basic:#fc5b5b;
@grey-basic:#6b6b6b;

//Fonts
@open-sans: 'Open Sans', sans-serif;
//Sizes
@font-size-h1:32px;
@font-size-h2: round(@font-size-h1*0.875);
@font-size-h3: round(@font-size-h1*0.6875);
@font-size-h4: round(@font-size-h1*0.5);
@font-size-base:14px;

//Wrapper
@container-width:960px;
@container-margin:35px;
@container-margin-list:5px;

//Heights
@min-height-banner:420px; 
@min-height-programm-banner:330px; 
@height-map:510px; 

//Adaptive
@resolution-small:360px;
@container-width-xs:310px;
@resolution-tablet:640px;
@wrapper-width-tablet:580px;
